:root{
    --main-color1:#FA9401;
    --main-color2:#E58700;
    --main-color3:#FFB64E;

    --secondary-color1:#444242;
    --secondary-color2:#343333;
    --secondary-color3:#5A5959;

    --outline1:#BFBFBF;
    --outline2:#E8E8E8;

    --text-color1:#5B5A5A;
    --text-color2:#828282;
    --text-color3:#BDBDBD;
    --text-color4:#444242;

    --font-light: 300;
    --font-bold:700;
}